h1 {
  color: red;
  font-family: Arial;
  text-align: center;
}

.coverimage {
  display: flex;
  overflow-x: scroll;
  padding: 20px 0;
  scroll-behavior: smooth;
}

.coverimage {
  display: inline-block;
  justify-content: center;
  margin: 0 auto;
  padding: 0 !important;
  width: 99%;
   transition: 250ms all;
  -webkit-filter: brightness(50%);
  z-index: -1 !important;

}

.coverimage:hover {
  -webkit-filter: brightness(100%);
  margin: 0 40px;
  transform: scale(1.2);

  cursor: pointer;
  z-index: 100 !important;
}
#arrow-left,
#arrow-right {
  width: 60px;
}

#arrow-left:hover,
#arrow-right:hover {
  background-color: rgba(0, 0, 0, 0.164);
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}

.fas {
  font-size: 2rem;
}

.row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}
}