h5 {
  color: #fff;
}

body {
  background-color: black;
}
.coverimage {
  display: flex;
  overflow-x: scroll;
  padding: 20px 0;
  scroll-behavior: smooth;
}

.coverimage {
  display: inline-block;
  justify-content: center;
  margin: 0 auto;
  padding: 0 !important;
  width: 100%;
  transition: 250ms all;
  -webkit-filter: brightness(50%);
  z-index: -1 !important;
}

.coverimage:hover {
  -webkit-filter: brightness(100%);

  transform: scale(1.1);

  cursor: pointer;
  z-index: 100 !important;
}
#arrow-left,
#arrow-right {
  width: 60px;
}
#arrow-left {
  left: 30px;
}
#arrow-right {
  right: 30px;
}

#arrow-left:hover,
#arrow-right:hover {
  background-color: rgba(0, 0, 0, 0.164);
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .coverimage {
    padding: 0 im !important;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  #arrow-left {
    left: 1px;
  }
  #arrow-right {
    right: 1px;
  }
}

.fas {
  font-size: 2rem;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

/*-----------------Arthur Styling Code------------------------*/
:root {
  --home-bg-color: #000;
  --account-bg-color: #f3f3f3;
  --text-color: #fff;
  --primary-color: #e40a13;
  --secondary-color: #929292;
}

.dropdown-toggle::after {
  color: #929292;
}

body {
  background: var(--home-bg-color);
}

.btn {
  border-radius: 0;
}

#logo {
  height: 48px;
}

#avatar {
  height: 36px;
}
#avatar-small {
  height: 24px;
  margin-right: 10px;
}
.dropdown-menu {
  margin-left: -100px;
  background-color: var(--home-bg-color);
}

.icon {
  margin: 4px 10px;
}

.dropdown-menu a {
  font-size: 12px;
}

.genre-details {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.genre-button {
  margin-left: 4em;
}

.movie-row {
  margin-top: 20px;
  margin-bottom: 50px;
}
.movie-cover {
  width: 99%;
  transition: 0.3s;
  opacity: 0.7;
}
.movie-cover:hover {
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1.05);
}

.carousel-control-next {
  margin-right: -5%;
}

.carousel-control-prev {
  margin-left: -5%;
}

.account-page {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--account-bg-color);
}

.profile-page {
  padding: 5% 20%;
  color: #fff;
}

.profile-title {
  font-size: 64px;
}

.edit-icon {
  position: relative;
  left: 10%;
  top: -10%;
  background: black;
  padding: 10px;
  border-radius: 50%;
}

input[type="text"] {
  padding: 10px;
  background: var(--secondary-color);
  width: 100%;
  color: white;
  font-size: 24px;
  font-weight: 500;
}

input[type="text"]:focus {
  outline: none;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-bottom: 10px;
}
