/*----------------------------------------------------------------------------- 
Author:     Hedri Nel
Email:      mailhedri@gmail.com 
Github:     https://github.com/FlyingVespa
----------------------------------------------------------------------------- */

/* ----------------- Table of Contents
0. Defaults & Imports
1.
2.
3.
4.
5.
6.
     -----------------*/
/* ----------------- 0 ---------------- */
/* Font Imports */

/* Remove padding and margin */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font: 62.5%/1.5 "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
}
.clear {
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}

/* ----------------- 1 ---------------- */

/* ----------------- 2 ---------------- */

/* ----------------- 3 ---------------- */

/* ----------------- 4 ---------------- */

/* ----------------- 5 ---------------- */

/* ----------------- 6 ---------------- */
